.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 2px solid #ffff;
    width: fit-content;
    transition: all 0.3s ease;
}

.name{
    padding: 10px 20px;
}

.badge:hover {
  background-color: white;
  color: #364AB0;
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}